Resources/ProjectSamples/XSD/v1/Project.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Project" type="ProjectType"/>

  <!-- =========================================================================

    Common Elements:
      - All projects must have the Following:

  ============================================================================== -->


  <!-- Top Leve item: Here's where the overall project gets Defined -->
  <xs:complexType name="ProjectType">
    <xs:sequence>
      <xs:element type="xs:string" name="Name"/>
      <xs:element type="xs:string" name="ProjectType"/>
      <xs:element type="MetaDataType" name="MetaData"/>
      <xs:element type="InputsType" name="Inputs"/>
      <xs:element type="RealizationsType" name="Realizations"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="type"/>
  </xs:complexType>

  <!-- A Project can have realizations -->
  <xs:complexType name="RealizationType" mixed="true">
    <xs:sequence>
      <xs:element type="xs:string" name="Name"/>
      <xs:element type="ParametersType" name="Parameters" minOccurs="0"/>
      <xs:element type="MetaDataType" name="MetaData" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute type="xs:boolean" name="Promoted" use="optional"/>
    <xs:attribute type="xs:string" name="DateCreated" use="optional"/>
    <xs:attribute type="xs:string" name="ProductVersion" use="optional"/>
    <xs:attribute type="xs:string" name="Guid" use="optional"/>
  </xs:complexType>

  <!--Realizations Must have an Analysis-->
  <xs:complexType name="AnalysisType" mixed="true">
    <xs:sequence>
      <xs:element type="xs:string" name="Name"/>
      <xs:element type="OutputsType" name="Outputs" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <!-- The things that go in the plural containers -->
  <xs:complexType name="MetaType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="Name" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <!-- These are Just Plural Containers for things -->

  <xs:complexType name="MetaDataType">
    <xs:sequence>
      <xs:element type="MetaType" name="Meta" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ParamType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="Name" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="ParametersType">
    <xs:sequence>
      <xs:element type="ParamType" name="Param" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>


  <!-- Let's define our Input/Output Data Types-->
  <xs:complexType name="InputsType">
    <xs:choice maxOccurs="unbounded" minOccurs="0">
      <xs:element type="xs:string" name="Value"/>
      <xs:element type="RasterType" name="Raster"/>
      <xs:element type="VectorType" name="Vector"/>
      <xs:element type="DEMType" name="DEM"/>
      <xs:element type="HillShadeType" name="HillShade"/>
    </xs:choice>
  </xs:complexType>

  <!--Outputs Type-->
  <xs:complexType name="OutputsType">
    <xs:choice maxOccurs="unbounded" minOccurs="0">
      <xs:element type="xs:string" name="Value"/>
      <xs:element type="RasterType" name="Raster"/>
      <xs:element type="VectorType" name="Vector"/>
      <xs:element type="FigType" name="Fig"/>
      <xs:element type="DEMType" name="DEM"/>
      <xs:element type="HillShadeType" name="HillShade"/>
    </xs:choice>
  </xs:complexType>

  <!-- Now let's define some types -->
  <xs:complexType name="GeoSpatialType">
    <xs:sequence>
      <xs:element type="xs:string" name="Name" minOccurs="0"/>
      <xs:element type="xs:string" name="Path" minOccurs="0"/>
      <xs:element type="xs:string" name="InputRef" minOccurs="0"/>
      <xs:element type="MetaDataType" name="MetaData" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="id"/>
    <xs:attribute type="xs:string" name="Guid"/>
  </xs:complexType>

  <xs:complexType name="SimpleFile">
    <xs:sequence>
      <xs:element type="xs:string" name="Name" minOccurs="0"/>
      <xs:element type="xs:string" name="Path" minOccurs="0"/>
      <xs:element type="xs:string" name="InputRef" minOccurs="0"/>
      <xs:element type="MetaDataType" name="MetaData" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="id"/>
    <xs:attribute type="xs:string" name="Guid"/>
  </xs:complexType>

  <xs:complexType name="RasterType">
    <xs:complexContent>
      <xs:extension base="GeoSpatialType"/>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="FigType">
    <xs:complexContent>
      <xs:extension base="SimpleFile"/>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="VectorType">
    <xs:complexContent>
      <xs:extension base="GeoSpatialType"/>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="DEMType">
    <xs:complexContent>
      <xs:extension base="GeoSpatialType"/>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="HillShadeType">
    <xs:complexContent>
      <xs:extension base="GeoSpatialType"/>
    </xs:complexContent>
  </xs:complexType>



  <xs:complexType name="RealizationsType">
    <xs:choice>
      <xs:element type="DoDType" name="DoD" maxOccurs="unbounded" minOccurs="0"/>
      <xs:element type="VBETType" name="VBET" maxOccurs="unbounded" minOccurs="0"/>
      <xs:element type="NREIType" name="NREI" maxOccurs="unbounded" minOccurs="0"/>
      <xs:element type="RiverStylesType" name="RiverStyles" maxOccurs="unbounded" minOccurs="0"/>
      <xs:element type="ConfinementType" name="Confinement" maxOccurs="unbounded" minOccurs="0"/>

      <xs:element type="GUTType" name="GUT" maxOccurs="unbounded" minOccurs="0"/>
      <xs:element type="FHMType" name="FHM" maxOccurs="unbounded" minOccurs="0"/>
    </xs:choice>
  </xs:complexType>

  <!-- =========================================================================

    Project: VBET

  ============================================================================== -->

  <xs:complexType name="VBETType">
    <xs:complexContent>
      <xs:extension base="RealizationType"/>
    </xs:complexContent>
    <xs:sequence>
      <xs:element type="GCDInputType" name="Inputs" minOccurs="0"/>
      <xs:element type="GCDAnalysisType" name="Analysis" minOccurs="0"/>
    </xs:sequence>
    <xs:sequence>

    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="VBETType">
    <xs:sequence>
      <xs:element type="ParametersType" name="Parameters" minOccurs="0"/>
      <xs:element type="VBETInputType" name="Inputs" minOccurs="0"/>
      <xs:element type="VBETAnalysisType" name="Analysis" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>


  <xs:complexType name="VBETInputType">
    <xs:sequence>
      <xs:element type="VBETInputTopographyType" name="Topography"/>
      <xs:element type="VBETInputDrainageType" name="DrainageNetworks"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="VBETInputTopographyType">
    <xs:sequence>
      <xs:element type="DEMType" name="DEM" maxOccurs="unbounded" minOccurs="0"/>
      <xs:element type="DEMType" name="Flow" maxOccurs="unbounded" minOccurs="0"/>
      <xs:element type="DEMType" name="Slope" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="VBETInputDrainageType">
    <xs:sequence>
      <xs:element type="VBETInputDrainageNetworkType" name="Network"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="VBETInputDrainageNetworkType">
    <xs:complexContent>
      <xs:extension base="VectorType"/>
      <xs:element type="VBETBufferType" name="Buffers"/>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="VBETBufferType">
    <xs:sequence>
      <xs:element type="VectorType" name="Buffer"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="VBETAnalysisType">
    <xs:element type="xs:string" name="Name"/>
    <xs:element type="OutputsType" name="Outputs"/>
  </xs:complexType>


  <!-- =========================================================================

    Project: NREI

  ============================================================================== -->

  <xs:complexType name="NREIType">
    <xs:complexContent>
      <xs:extension base="RealizationType"/>
    </xs:complexContent>
    <xs:sequence>
      <xs:element type="InputsType" name="Inputs" minOccurs="0"/>
      <xs:element type="OutputsType" name="Analysis" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <!-- =========================================================================

    Project: Confinement

  ============================================================================== -->

  <xs:complexType name="ConfinementType">
    <xs:complexContent>
      <xs:extension base="RealizationType"/>
    </xs:complexContent>
    <xs:sequence>
      <xs:element type="ConfinementInputType" name="Inputs" minOccurs="0"/>
      <xs:element type="ConfinementAnalysisType" name="Analysis" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ConfinementInputType">
    <xs:sequence>
      <xs:element type="ValleyBottomsType" name="ValleyBottoms"/>
      <xs:element type="ChannelPolygonsType" name="ChannelPolygons"/>
      <xs:element type="StreamNetworksType" name="StreamNetworks"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ValleyBottomsType">
    <xs:sequence>
      <xs:element type="VectorType" name="ValleyBottom"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ChannelPolygonsType">
    <xs:sequence>
      <xs:element type="VectorType" name="ChannelPolygon"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="StreamNetworksType">
    <xs:sequence>
      <xs:element type="VectorType" name="StreamNetwork"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ConfinementAnalysisType">
    <xs:element type="xs:string" name="Name"/>
    <xs:element type="ConfinementOutputsType" name="Outputs"/>
  </xs:complexType>

  <xs:complexType name="ConfinementOutputsType">
    <xs:sequence>
       <xs:element type="VectorType" name="ConfiningMargins"/>
       <xs:element type="VectorType" name="RawConfiningState"/>
      <xs:element type="MovingWindowsType" name="MovingWindows"/>
      <xs:element type="FixedSegmentsType" name="FixedSegments"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="MovingWindowsType">
    <xs:element type="xs:string" name="Name"/>
    <xs:element type="ConfinementWindowType" name="Window"/>
  </xs:complexType>

  <xs:complexType name="ConfinementWindowType">
    <xs:sequence>
      <xs:element type="xs:string" name="Name"/>
       <xs:element type="VectorType" name="SeedPointile"/>
       <xs:element type="VectorType" name="MovingWindow"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="id"/>
  </xs:complexType>

  <xs:complexType name="FixedSegmentsType">
    <xs:element type="xs:string" name="Name"/>
    <xs:element type="ConfinementSegmentType" name="Segment"/>
  </xs:complexType>

  <xs:complexType name="ConfinementSegmentType">
    <xs:sequence>
      <xs:element type="xs:string" name="Name"/>
       <xs:element type="VectorType" name="ConfinementSegments"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="id"/>
  </xs:complexType>

  <!-- =========================================================================

    Project: River Styles

  ============================================================================== -->

  <xs:complexType name="RiverStylesType">
    <xs:complexContent>
      <xs:extension base="RealizationType"/>
    </xs:complexContent>
    <xs:sequence>
      <xs:element type="RiverStylesInputType" name="Inputs" minOccurs="0"/>
      <xs:element type="RiverStylesAnalysisType" name="Analysis" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="RiverStylesInputType">
    <xs:sequence>
      <xs:element type="RiverStylesInputDrainageNetworksType" name="DrainageNetworks"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="RiverStylesInputDrainageNetworksType">
    <xs:sequence>
      <xs:element type="RiverStylesInputDrainageNetworkType" name="Network"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="Guid" use="optional"/>
  </xs:complexType>

  <xs:complexType name="RiverStylesInputDrainageNetworkType">
    <xs:complexContent>
      <xs:extension base="VectorType"/>
      <xs:element type="VBETBufferType" name="Buffers"/>
      <xs:element type="ValleyBottomType" name="ValleyBottom"/>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="ValleyBottomType">
    <xs:complexContent>
      <xs:extension base="VectorType"/>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="RiverStylesConfinementType">
    <xs:sequece>
      <xs:element type="VectorType" name="Confinement"/>
    </xs:sequece>
  </xs:complexType>

  <xs:complexType name="RiverStylesReachType">
    <xs:sequece>
      <xs:element type="ManualCrossChecksType" name="ManualCrossChecks"/>
    </xs:sequece>
  </xs:complexType>

  <xs:complexType name="ManualCrossChecksType">
    <xs:sequece>
      <xs:element type="VectorType" name="ManualCrossCheck"/>
    </xs:sequece>
  </xs:complexType>

  <xs:complexType name="RiverStylesAnalysisType">
    <xs:sequence>
      <xs:element type="RiverStylesConfinementType" name="Confinements"/>
      <xs:element type="RiverStylesReachType" name="RiverStyleReach"/>
    </xs:sequence>
  </xs:complexType>

  <!-- =========================================================================

    Project: GUT

  ============================================================================== -->
  <xs:complexType name="GUTType">
    <xs:complexContent>
      <xs:extension base="RealizationType"/>
    </xs:complexContent>
    <xs:sequence>
      <xs:element type="InputsType" name="Inputs" minOccurs="0"/>
      <xs:element type="GUTAnalysisType" name="Analysis" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="GUTAnalysisType">
    <xs:sequece>
      <xs:element type="GUTOutputsContainerType" name="Outputs"/>
    </xs:sequece>
  </xs:complexType>

  <xs:complexType name="GUTOutputsContainerType">
    <xs:sequece>
      <xs:element type="GUTOutputsType" name="InChannel"/>
      <xs:element type="GUTOutputsType" name="OutChannel"/>
    </xs:sequece>
  </xs:complexType>

  <xs:complexType name="GUTOutputsType">
    <xs:sequece>
      <xs:element type="VectorType" name="Tier1"/>
      <xs:element type="VectorType" name="Tier2"/>
      <xs:element type="VectorType" name="Tier3"/>
    </xs:sequece>
  </xs:complexType>

  <!-- =========================================================================

    Project: GCD

  ============================================================================== -->

  <xs:complexType name="DoDType">
    <xs:complexContent>
      <xs:extension base="RealizationType"/>
    </xs:complexContent>
    <xs:sequence>
      <xs:element type="GCDInputType" name="Inputs" minOccurs="0"/>
      <xs:element type="GCDAnalysisType" name="Analysis" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>


  <xs:complexType name="GCDInputType">
    <xs:sequence>
      <xs:element type="VBETInputTopographyType" name="Topography"/>
      <xs:element type="VBETInputDrainageType" name="DrainageNetworks"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="GCDAnalysisType">
    <xs:element type="xs:string" name="Name"/>
    <xs:element type="OutputsType" name="Outputs"/>
  </xs:complexType>


  <!-- =========================================================================

    Project: FHM

  ============================================================================== -->

  <xs:complexType name="FHMType">
    <xs:complexContent>
      <xs:extension base="RealizationType"/>
    </xs:complexContent>
    <xs:sequence>
      <xs:element type="InputsType" name="Inputs" minOccurs="0"/>
      <xs:element type="FHMAnalysesType" name="Analyses" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="FHMAnalysesType">
    <xs:sequece>
      <xs:element type="FHMOutputsContainerType" name="Fuzzy"/>
      <xs:element type="FHMOutputsContainerType" name="HSI"/>
    </xs:sequece>
  </xs:complexType>

  <xs:complexType name="FHMOutputsContainerType">
    <xs:sequece>
      <xs:element type="FHMOutputsType" name="InChannel"/>
      <xs:element type="FHMOutputsType" name="OutChannel"/>
    </xs:sequece>
  </xs:complexType>

  <xs:complexType name="FHMOutputsType">
    <xs:sequece>
      <xs:element type="VectorType" name="Tier1"/>
      <xs:element type="VectorType" name="Tier2"/>
      <xs:element type="VectorType" name="Tier3"/>
    </xs:sequece>
  </xs:complexType>

</xs:schema>